.buttonNext, .buttonPrev {
    width: 100px;
    height:350px;
    /* background-image: url(https://cdn-icons-png.flaticon.com/512/50/50819.png?w=360); */
    font-size: 60px;
    color: gray;


}

.sliderImage{
    height:100%;
    width: 100%;
}

.sliderBox{
    display:flex;
    flex-direction: row;
}