body {
    background-color: #ffffff;
    font-family: Georgia serif;
    padding: 15px;
}

.container {
    margin: 50px auto;
    width: 1000px;
}
section {
    padding: 30px;
    background-color: #effffc;
    border-radius: 15px;
    font-family: 'Caveat', cursive;
    font-family: 'Ms Madi', cursive;
    font-family: 'Oswald', sans-serif;
    min-height: 500px;
}

section p{
    text-align: center;
}

h2 {
    font-size: 40px;
    font-family: Copperplate Gothic Light;
    width: 300px;
    text-align: center;
    color: rgb(44, 33, 44);
}
.navigation-bar {
    background-color: #ffffff;
}

.navigation-bar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation-bar li {
    width: max-content;
    display: inline-block;
    font-family: Brush Script MT;
    font-size: 40px;
    padding: 50px;
    padding-top:100px;
}

.navigation-bar a {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.navigation-bar a:hover {
    background-color: #ffffff;
    color: #54a194;
}
.navigation-bar hr{
    background-color: #54a194;
    height: 3px;
    border-radius: 15px;
}

.navigation-bar img{
    width: 400px;
    height: 250px;
}


.img.sliderImage{
    opacity: 0;
}